FLASK_ENV=development
SECRET_KEY=change-this-secret
APP_PORT=5001

POSTGRES_DB=bonassi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5434

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/bonassi_db
